<mat-card>
    <mat-card-title>New Product</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="product.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Price (R$)" [(ngModel)]="product.price" price="price">
        </mat-form-field>
    </form>
</mat-card>
<button mat-raised-button (click)="createProduct()" color="">
    Save
</button>

<button mat-raised-button (click)="cancel()" color="primary">
    Cancel
</button>